<!DOCTYPE html>
<html>
<head>
  <title>BloodBridge</title>
</head>
<body>
  <h1>Welcome to BloodBridge 🚑</h1>
  <p>This page is rendered using EJS (Template Engine)</p>

  <h2>Message from server:</h2>
  <p><%= message %></p>
</body>
</html>